In [104]:
import pandas as pd

In [105]:
files = ['./Data/Rolling/ManhattanSalesFinal.csv',
    './Data/Rolling/QueensSalesFinal.csv',
    './Data/Rolling/StatenIslandSalesFinal.csv',
    './Data/Rolling/BrooklynSalesFinal.csv',
    './Data/Rolling/BronxSalesFinal.csv']

In [106]:
ffiles= ['./Data/Rolling/ManhattanSalesFinalFE.csv',
    './Data/Rolling/QueensSalesFinalFE.csv',
    './Data/Rolling/StatenIslandSalesFinalFE.csv',
    './Data/Rolling/BrooklynSalesFinalFE.csv',
    './Data/Rolling/BronxSalesFinalFE.csv']

In [107]:
fileNum = 4

In [108]:
df = pd.read_csv(files[fileNum])

In [109]:
df.head(30)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,bctcb2020
0,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3037,101,S0,443 EAST 180 STREET,10457,1952.0,1,S0,720000,2022-02-23,20395001003
1,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3039,29,A5,2327 WASHINGTON AVE,10458,1910.0,1,A5,499999,2022-04-28,20385002001
2,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3039,63,A1,469 EAST 185 STREET,10458,1910.0,1,A1,599000,2022-05-17,20385002001
3,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3039,63,A1,469 EAST 185TH STREET,10458,1910.0,1,A1,455000,2021-12-23,20385002001
4,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3045,12,A1,2052 BATHGATE AVENUE,10457,1910.0,1,A1,580000,2021-07-22,20395002003
5,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3046,38,A1,2077 BATHGATE AVENUE,10457,1899.0,1,A1,540000,2022-04-19,20395002002
6,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3050,80,A1,2257 BATHGATE AVENUE,10457,1901.0,1,A1,600000,2022-04-28,20385004006
7,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3053,108,A9,2317 BASSFORD AVENUE,10458,1901.0,1,A9,251600,2021-08-17,20385003004
8,BX,BATHGATE,01 ONE FAMILY DWELLINGS,3053,108,A9,2317 BASSFORD AVENUE,10458,1901.0,1,A9,564000,2022-04-06,20385003004
9,BX,BATHGATE,02 TWO FAMILY DWELLINGS,2912,140,B1,3821 3RD AVENUE,10457,1993.0,1,B1,680000,2022-05-31,20169001003
10,BX,BATHGATE,02 TWO FAMILY DWELLINGS,2912,146,B1,3809 3RD AVENUE,10457,1993.0,1,B1,680000,2021-08-11,20169001003
11,BX,BATHGATE,02 TWO FAMILY DWELLINGS,2927,120,B1,"1495 CROTONA PLACE,",10456,1994.0,1,B1,620000,2021-12-16,20169001006
12,BX,BATHGATE,02 TWO FAMILY DWELLINGS,2929,114,B1,3854 3RD AVENUE,10457,1995.0,1,B1,525000,2022-06-09,20167002008
13,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3030,61,B3,4467 PARK AVENUE,10457,1899.0,1,B3,650000,2021-08-23,20383041005
14,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3036,43,B1,2057 WASHINGTON AVE,10457,1997.0,1,B1,100,2022-03-19,20395002000
15,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3036,146,B1,2049 WASHINGTON AVENUE,10457,1997.0,1,B1,540000,2021-11-03,20395002000
16,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3039,18,B3,464 EAST 185 STREET,10458,1910.0,1,B3,669000,2022-06-03,20385002001
17,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3039,158,B1,474 EAST 186 STREET,10458,1997.0,1,B1,695000,2021-09-03,20385002001
18,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3040,16,B2,464 EAST 187 STREET,10458,1910.0,1,B2,820000,2021-12-30,20385001007
19,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3044,159,B1,1992 BATHGATE AVENUE,10457,1998.0,1,B1,725000,2022-04-18,20395003000
20,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3044,165,B1,2004 BATHGATE AVENUE,10457,1998.0,1,B1,789000,2021-11-22,20395003000
21,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3047,9,B9,2122 WASHINGTON AVENUE,10457,1901.0,1,B9,355000,2022-01-05,20395001004
22,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3050,79,B2,2259 BATHGATE AVENUE,10457,1901.0,1,B2,726000,2022-04-28,20385004006
23,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3050,82,B2,2253 BATHGATE AVE,10457,1901.0,1,B2,763000,2022-01-26,20385004006
24,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3050,90,B2,505 E 182 STREET,10457,1901.0,1,B2,734000,2021-07-13,20385004006
25,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3053,16,B2,2303 BATHGATE AVENUE,10458,1901.0,1,B2,460000,2021-12-16,20385003004
26,BX,BATHGATE,02 TWO FAMILY DWELLINGS,3053,17,B2,2301 BATHGATE AVE,10458,1901.0,1,B2,790000,2021-10-08,20385003004
27,BX,BATHGATE,03 THREE FAMILY DWELLINGS,3035,53,C0,459 EAST 178TH ST,10457,2007.0,1,C0,670000,2021-07-26,20395003001
28,BX,BATHGATE,03 THREE FAMILY DWELLINGS,3039,13,C0,456 EAST 185 STREET,10458,1910.0,1,C0,690000,2021-08-30,20385002001
29,BX,BATHGATE,03 THREE FAMILY DWELLINGS,3040,13,C0,458 EAST 187 STREET,10458,1910.0,1,C0,852000,2021-12-06,20385001007

In [110]:
df['h3geo'] = 0

In [111]:
df['YEAR BUILT'].describe()

count    5496.000000
mean     1945.899927
std        27.371541
min      1868.000000
25%      1925.000000
50%      1946.000000
75%      1960.000000
max      2021.000000
Name: YEAR BUILT, dtype: float64

In [112]:
for i in range(1800, 2030, 10):
    df['{:4.0f}s'.format(i)] = 0
    
for index, row in df.iterrows():
    col = row['YEAR BUILT'] - (row['YEAR BUILT'] % 10)
    df.iloc[index, df.columns.get_loc('{:4.0f}s'.format(col))] = 1

In [113]:
df = pd.get_dummies(df, prefix=['BUILDING CLASS CATEGORY','BUILDING CLASS','TAX CLASS'], columns=['BUILDING CLASS CATEGORY','BUILDING CLASS AT PRESENT', 'TAX CLASS AT TIME OF SALE'])

In [114]:
df.to_csv(ffiles[fileNum], index=False)